@charset "UTF-8";
/* CSS Document */


body {
	background-color: #2B2F32;
	background-image: url(background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}

downarrow {
	font-family: Lato;
	font-size: 20px;
}


.footer {
	background-color: #2B2F32;
	color: aqua;
	height: 100px;
	width: 100%;
}

.footer a {
	text-decoration: none;
	color: #F15C25;
	font-family: Lato;
	
}

.footer a:hover {
	opacity: 0.5;
}

.footer nav {
	float: right;
}

.footer nav ul {
	margin-top: 32px;
	margin-right: 100px
}

.footer nav ul li {
	display: inline-block;
	margin-left: 50px;
	list-style: none;
	font-weight: 400;
	font-size: 30px;
}

.logo {
	height: 50%;
	width: 20%;
	margin-top: 1%;
	margin-left: 1%;
}


